<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Document
		link(rel="stylesheet", href="/css/style.css")
	body
		div#slider
			each d in data 
				include  partials/card.pug


		script(src="./js/index.js" type="module")